body{
    margin: 0;
    padding: 0;
    background-color: #e3e3e3;
}
#estrutura{
    margin: 0 150px;
    background-color: white;
}
#estrutura #header{
    border: 1px solid black;
    height: 180px;
}
#estrutura #header .logo{
    margin: 15px 30px;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
}
#estrutura #header #menu{
    margin-left: 450px;
    margin-top: 50px;
}
#estrutura #header #menu ul{
    margin: 0;
    padding: 0;
}
#estrutura #header #menu li{
    list-style: none;
    margin: 0 10px;
    width: 100px;
    text-align: center;
    display: inline-block;
}
#estrutura #header #menu a{
    width: 100%;
    background-color: rgb(0, 0, 177);
    color: white;
    padding: 5px;
    font-size: 15px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
}
#estrutura #header #menu a:hover{
    background-color: white;
    color: rgb(0, 0, 177);
}
#estrutura #header #menu  .atual{
    background-color: white;
    color: rgb(0, 0, 177);
}
/*======================= CORPO ==================================*/
#estrutura #corpo{
    border: 1px solid black;
    height: 600px;
}
#estrutura #corpo .artigo{
    display: flex;
}
#estrutura #corpo .artigo .conteudo{
    flex-direction: column;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0px 59px;
}
#estrutura #corpo .artigo .conteudo p{
    margin-top: 82px;
}
/*======================= FOOTER ==================================*/
#estrutura #footer{
    display: flex;
    background-color: rgb(0, 0, 177);
    color: white;
    width: 100%;
}
#estrutura #footer .rodape{
    flex-direction: column;
    width: 50%;
    border-left: 1px solid;
    border-right: 1px solid;
    margin: 0 5px;
    padding: 0px 100px
}
#estrutura #footer .rodape p{
    font-size: 17px;
}